@model int
@{
    ViewData["Title"] = "AssignToCourse";
}

<h1>Select Course</h1>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="AssignStudent" asp-route-id="@Model">Assign Student</a>
        <p>@Model</p>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-action="AssignTeacher" asp-route-id="@Model">Assign Teacher</a>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-action="AssignAssignment" asp-route-id="@Model">Assign Assignment</a>
    </div>
</div>