@{
    ViewData["Title"] = "Index";
}

<h1>Assign</h1>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="AssignStudent" >Assign Student</a>
    </div>
    @*Admin*@
    <div class="col">
        <a class="btn btn-primary" asp-action="AssignTeacher" >Assign Teacher</a>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-action="AssignAssignment" >Assign Assignment</a>
    </div>
</div>

