@model AssignmentViewModel
@{
    ViewData["Title"] = "CreateAssignment";
}

<h1>Create Assignment</h1>

<form asp-action="CreateAssignment" asp-controller="Create" method="post">

    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <br />

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <br />

    @*SELECT COURSE*@

    <input type="submit" value="Create" />
</form>