
@{
    ViewData["Title"] = "Index";
}

<h1>Create</h1>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="CreateStudent">Create Student</a>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-action="CreateAssignment">Create Assignment</a>
    </div>
</div>
<br />
    @*Admin*@
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="CreateCourse">Create Course</a>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-action="CreateTeacher">Create Teacher</a>
    </div>
</div>